.second-content {
  display: none;
}

.stepTwo {
  background-color: var(--DarkSlateGray) !important;
  width: 500px;
  height: auto;
  border-radius: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  position: relative;
}

.list ul {
  list-style: none;
  padding: 1.5rem 1.5rem 1.875rem 1.875rem;
}

.list li {
  background: var(--darklightGray);
  margin: 0.938rem 0;
  border-radius: 0.625rem;
  border: 1px solid var(--dimGray);
  padding: 12px 14px;
  cursor: pointer;
}

.list li label:hover {
  background: var(--purple);
}

.list li:hover {
  background: var(--purple);
}

.list li label {
  text-decoration: none;
  color: var(--gainsboro);
  font-size: 0.875rem;
  cursor: pointer;
}

.list li:has(input[type="checkbox"]:checked) {
  background: var(--purple);
}

input[type="checkbox"] {
  padding: 0;
  margin: 0;
  opacity: 0;
}

#startDecStepTwo {
  width: 20px;
  height: 20px;
  background: var(--purple) !important;
  border: 5px solid var(--DarkSlateGray);
}