.stepOne {
  background-color: var(--DarkSlateGray) !important;
  width: 500px;
  height: auto;
  border-radius: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  position: relative;
}

.fields {
  padding: 1.875rem;
}

.fields label {
  display: block;
  color: var(--gainsboro);
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.fields input {
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid var(--dimGray);
  background: transparent;
  padding: 14px 28px;
}

input[type=text] {
  color: var(--gainsboro);
  margin-bottom: 1.25rem;
}

input[type=email] {
  color: var(--gainsboro);
}

input::placeholder {
  color: var(--gainsboro);
  font-size: 0.75rem;
  position: absolute;
  left: 15px;
}

.stepOne .div-btn {
  transform: translate(0, 40px);
  padding-bottom: 2.5rem;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding-top: 0.625rem;
  position: relative;
}

.count p {
  font-size: 0.75rem;
  color: var(--gainsboro);
  font-weight: 100;
}

.information-circle {
  display: flex;
  align-items: center;
}

#startDecStepOne {
  width: 20px;
  height: 20px;
  background: var(--purple) !important;
  border: 5px solid var(--DarkSlateGray);
}

.dec {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--dimGray);
  margin: 6px;
  border-radius: 100%;
}