.third-content {
  display: none;
}

.stepThree {
  background-color: var(--DarkSlateGray) !important;
  width: 500px;
  height: auto;
  border-radius: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  position: relative;
}

.user-information {
  padding: 2.5rem 0 0 1.875rem;
}

.p-value {
  color: var(--darkGray);
  font-size: 0.875rem;
}

.p-value:first-child {
  margin-bottom: 0.3rem;
}

[data-value-name],
[data-value-email] {
  color: var(--gainsboro);
  font-size: 1rem;
  margin-left: 4px;
}

[data-information] {
  color: #fff;
  display: inline-block;
  width: auto;
}

.list-topics.ativo {
  padding: 1.3rem 0 0 1.875rem;
}

.list-topics.ativo ul {
  padding: 0.625rem 0 2rem 1.8rem;
}

.list-topics.ativo li {
  color: var(--gainsboro);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.list-topics li::marker {
  color: var(--gainsboro);
}

#startDecStepThree {
  width: 20px;
  height: 20px;
  background: var(--purple) !important;
  border: 5px solid var(--DarkSlateGray);
}
